Order_Validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderNumber" type="xs:unsignedShort" />
        <xs:element name="OrderStatus" type="xs:string" />
        <xs:element name="CustomerEmail" type="xs:string" />
        <xs:element name="CustomerName" type="xs:string" />
        <xs:element name="EmailNotificationFlag" type="xs:boolean" />
        <xs:element name="OrderTrackingNumber" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>