Value Mapping Demo/GetOrderShipmentDetails_valueMapping.wsdl

<!--created by Prasad Koribilli (OutOfTheBoxEA), free to use-->
<!--Checkout my youtube channel for free SAP Content @OutOfTheBoxEA-->
<wsdl:definitions name="OutOfTheBoxEA_OrderShipDetails" targetNamespace="http://outoftheboxea/demo" xmlns:p1="http://outoftheboxea/demo" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:documentation/>
   <wsp:UsingPolicy wsdl:required="true"/>
   <wsp:Policy wsu:Id="OutOfTheBoxEA_OrderShipmentDetails"/>
   <wsdl:types>
      <xsd:schema targetNamespace="http://outoftheboxea/demo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://outoftheboxea/demo">
         <xsd:element name="OrderNumber" type="OrderNumberType"/>
         <xsd:element name="OrderShippingDetails" type="OrderShippingDetailsType"/>
         <xsd:complexType name="OrderNumberType">
            <xsd:sequence>
               <xsd:element name="orderNumber" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="OrderShippingDetailsType">
            <xsd:sequence>
               <xsd:element name="DestinationOrderID" type="xsd:int"/>
               <xsd:element name="DestinationCustomerID" type="xsd:string"/>
               <xsd:element name="DestinationEmployeeID" type="xsd:int"/>
               <xsd:element name="DestinationOrderDate" type="xsd:dateTime"/>
               <xsd:element name="DestinationRequiredDate" type="xsd:dateTime"/>
               <xsd:element name="DestinationShippedDate" type="xsd:dateTime"/>
               <xsd:element name="DestinationShipVia" type="xsd:int"/>
               <xsd:element name="DestinationFreight" type="xsd:decimal"/>
               <xsd:element name="DestinationShipName" type="xsd:string"/>
               <xsd:element name="DestinationShipAddress" type="xsd:string"/>
               <xsd:element name="DestinationShipCity" type="xsd:string"/>
               <xsd:element name="DestinationShipRegion" type="xsd:string"/>
               <xsd:element name="DestinationShipPostalCode" type="xsd:string"/>
               <xsd:element name="DestinationShipCountry" type="xsd:string"/>
			   <xsd:element name="UniqueIdentifier" type="xsd:string"/>
               <xsd:element name="DestinationCurrency" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="OrderNumber">
      <wsdl:documentation/>
      <wsdl:part name="OrderNumber" element="p1:OrderNumber"/>
   </wsdl:message>
   <wsdl:message name="OrderShippingDetails">
      <wsdl:documentation/>
      <wsdl:part name="OrderShippingDetails" element="p1:OrderShippingDetails"/>
   </wsdl:message>
   <wsdl:portType name="OutOfTheBoxEA_OrderShipDetails">
      <wsdl:documentation/>
      <wsdl:operation name="GetOrderShipmentDetails">
         <wsdl:documentation/>
         <wsdl:input message="p1:OrderNumber"/>
         <wsdl:output message="p1:OrderShippingDetails"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OutOfTheBoxEA_OrderShipDetailsBinding" type="p1:OutOfTheBoxEA_OrderShipDetails">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetOrderShipmentDetails">
         <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="GetOrderShipDetailsService">
      <wsdl:documentation>To get Order and Shipment details</wsdl:documentation>
      <wsdl:port name="GetOrderShipDetailsServiceSoap" binding="p1:OutOfTheBoxEA_OrderShipDetailsBinding">
         <soap:address location="http://outoftheboxea/demo"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>